#slideMenuRight{
  #sideMenuList {
    // background of sidelist
    .item,
    .item-content {
      background-color: $secondaryColor;
      border-color: darken($secondaryColor, 5%);
      color: #fff;
    }
  }
}
